/* //// ROOT VARIABLES  */
:root {
  --background-color: #2d2e32;
  --primary-color: #64f4ac;
  --secondary-color: #1a3828;
  --silver: #c7c7c7;

  --white: #f7f3f3;
  --title-font: vollkorn, serif;
  --primary-font: Poppins, serif;
  --secondary-font: Georgia, serif;
  --lg-font: 2.5rem;
  --md-font: 1rem;
  --sm-font: 0.5rem;
}
/* //// GLOBAL | site-wide */

body {
  font-family: var(--primary-font);
  font-size: 62.5%;
}
