@import url(/global.css);
@import url(/reset.css);

/* Hero Section */
.hero {
  background: #000000;
  padding: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10rem 5rem;
  gap: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 40%;
    text-align: left;
    width: min(100%, 1660px);
  }
  .content {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    text-align: left;
  }

  .container h1 {
    font-size: 2.6rem;
    margin-bottom: 24px;
    color: var(--white);
  }
  .container p {
    font-size: 1.4rem;
    color: var(--white);
  }
  .img--card img {
    width: 508px;
    height: auto;
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .hero {
    background: #000000;
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }
    .img--card img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}
/* About Section */
.main {
  background-color: #131313;
  padding: 10rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    gap: 2rem;
  }

  .content {
    color: var(--white);
    width: 100%;
  }
  .content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .content h3 {
    font-size: 1.5rem;
  }

  .content p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .img--card img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .main {
    background-color: #131313;
    padding: 10rem 0;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .img--card img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}
